*.json

#admin 
../admin/src/package-lock.json
../admin/src/package.json

#frontend
../frontend/src/package-lock.json
../frontend/src/package.json

#backend
../backend/src/package-lock.json
../backend/src/package.json

#global
../package-lock.json
../package.json

#.env
../admin/src/.env
../frontend/src/.env
../backend/src/.env