* {
  font-family: "Poppins";
  color: white;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(#000000, #060327);
}

@media (max-width: 768px) {
  .App-container {
    width: 768px;
    flex-direction: column;
  }
}
