.Shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 10px;
}


.shop-item {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
}

.Shop hr {
    position: relative;
    top: -20px;
    margin-bottom: 50px;
    width: 200px;
    height: 6px;
    border: none;
    border-radius: 10px;
    background: #e92a1e ;
}

article {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 100px;
}

@media(max-width: 1280px) {
    .shop-item{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1000px){
    article, .shop-item{
        max-width: 300px;
        width: 90%;
        box-sizing: border-box;
        padding: 40px;
    }
    
    .shop-item{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }

    .product-img img{
        width: 100%;
    }

    h1{
        font-size: 1.5em;
    }

    .price span{
        display: inline-block;
        margin-left: 10px;
    }
}