.Item {
    width: 290px;
    padding: 10px;
    margin: 0 20px 50px 20px;
    background-color: #0e0d18;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container h3 {
margin: 0;
max-width: 290px;
}

.image-container {
    width: 290px;
    height: 180px;
    background-color: #060327;
    overflow: hidden;
}

.image-container img {
    object-fit: cover;
    transition: .2s ease;
}

.image-container img:hover {
    scale: 1.3;
}

.productPrice {
    font-size: 24px;
    color: #e92a1e;
}

.item-prices {
display: flex;
position: relative;
top: -10px;
gap: 10px;
align-items: center;
}

.oldPrice {
    text-decoration: line-through white;
    color: #817dad;
}

.Item button {
    position: relative;
    
    font-weight: 600;
    color: white;
    background-color: #6b63c4;
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.Item button:hover {
    background-color: white;
    color: #6b63c4;
}